<div class="container padding container_actions">
    <div class="d-flex justify-content-between">
        <div class="row">
            <div class="col col-12">
                <button type="button" class="btn btn-outline-success" (click)="AddEntry()" style="display: flex; justify-content: flex-end;">
                    <span>New Seat</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-lg-4 divs" *ngFor="let entry of data" style="padding: 20px; border: 1px solid black;">
            <div class="container entry_section">
                <form fxLayout="column" #f="ngForm">
                    <mat-form-field>
                        <input matInput placeholder="Name" type="text" name="name" [(ngModel)]="entry.name" required />
                        <mat-error>Play name is required</mat-error>
                    </mat-form-field>
                        <mat-checkbox class="example-margin" name="available" [(ngModel)]="entry.available" >Available</mat-checkbox>
                    <mat-form-field>
                        <input matInput placeholder="playsId" type="number" min=1 name="playsId"
                            [(ngModel)]="entry.playsId" />
                    </mat-form-field>
                    <div class="row">
                        <div class="col col-md-6">
                            <button [disabled]="!f.valid" mat-raised-button color="primary" type="button"
                                class="btn btn-outline-secondary btn-block" (click)="Edit(entry)">
                                Add
                            </button>
                        </div>
                        <div class="col col-md-6">
                            <button mat-raised-button color="warn" type="button"
                                class="btn btn-outline-danger btn-block" (click)="Delete(entry)">
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>