<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-4 menu_entry" routerLink="./adminTheater">
            <i>icon</i>
            <div class='menu_entry_title'>Theater</div>
        </div>
        <div class="col col-md-4 menu_entry" routerLink="./adminPlays">
            <i>icon</i>
            <div class='menu_entry_title'>Plays</div>
        </div>
        <div class="col col-md-4 menu_entry" routerLink="./adminSeats">
            <i>icon</i>
            <div class='menu_entry_title'>Seats</div>
        </div>
        <div class="col col-md-4 menu_entry" routerLink="./adminReservation">
            <i>icon</i>
            <div class='menu_entry_title'>Pending Reservation</div>
        </div>
    </div>
</div>